/* {
  border-style: solid;
  border-width: 2px;
  border-color: red;
} */

/* Type Selectors ------------------ */
html {
  font-size: 32px
}

body {
  color: #878787;
  margin: 0;
  /*font-size: 16px;
  font-family: 'Tahoma', 'Helvetica', sans-serif;
  line-height: 1.5;*/
  
  font: 16px/1.5 'Droid Serif', 'Tahoma', 'Helvetica', sans-serif;
  
  
}

h1 {  
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: #48525c;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255,169,73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(0,0,0, 0.1)
}

a:active {
  color: lightcoral;
}

/* ID Selectors -------------------- */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/* Class Selectors ----------------- */

.main-header {
  width: 100%;
  background-color: #ffa949;
}

.title {
  color: white;
  font-size: 1.625em; /* 26/16 */
}

.primary-content {
  text-align: center;
   margin: auto;
}

.primary-content,
.main-header
{
  text-align: center;
 
}

.primary-content, 
.secondary-content
{

  width: 60%;
}


.t-border {
  border-top: 2px solid lightgrey; /* Top border styles */
}

.wildlife 
{
  color: white;
  background-color: #7f8c8d;
  padding: 18% 24%;
  border-width: 10px;
  border-style:solid;
  border-color:#ffa949;
  
  border: 10px solid #ffa949;
 
  
}















